@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1622212206440') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chazhaofangyuan:before {
  content: "\e629";
}

.icon-wode:before {
  content: "\e73e";
}

.icon-dingwei:before {
  content: "\e621";
}

.icon-zixun:before {
  content: "\e6f9";
}

.icon-zixun1:before {
  content: "\e602";
}

.icon-wode1:before {
  content: "\e8c6";
}

.icon-zixun2:before {
  content: "\e62a";
}

.icon-zixun3:before {
  content: "\ea4d";
}

.icon-shouye_huaban1:before {
  content: "\e60c";
}

.icon-wode_huaban1:before {
  content: "\e60e";
}

.icon-index:before {
  content: "\e60f";
}

