body,
html {
  color: #333;
  background-color: #fff;
  font-family: "Microsoft YaHei";
  height: 100%;
}

* {
  box-sizing: border-box;
  /* 让页面轮播图滑动不报错 */
  touch-action: pan-y;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
h2,
p {
  margin: 0px;
}
/* html,
body,
#root,
.App {
  height: 100%;
} */
